body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container {
    width: 300px;
    height: 700px;
    background-color: #222225;
    border-radius: 20px;
}
.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile>h3 {
    color: white;
    font-family: "Lucida Sans";
}
.profile>p.job {
    color: navajowhite;
    font-family: "Lucida Sans";
    font-size: 12px;
    margin-top:-15px;
}
.profile>p.job {
    color: navajowhite;
    font-family: "Lucida Sans";
    font-size: 12px;
    margin-top:-15px;
}
.profile>p.desc {
    color: white;
    font-family: "Lucida Sans";
    font-size: 8px;
    margin-top:-8px;
}
.profile>div.btncontainer {
    display: flex;
    gap: 30px;
}
.profile>div.btncontainer>button {
    width: 90px;
    height: 30px;
    border-radius: 7px;
    display: flex;
    padding-top: 5px;
    gap: 5px;
    font-family: "Lucida Sans";
    font-weight: bold;
}
.profile>div.btncontainer>button:active {
    box-shadow: 2px 2px 5px whitesmoke;
}
.profile>div.btncontainer>button.mailbtn>i {
    transform: scale(var(--ggs,0.6));
}
.profile>div.btncontainer>button.linkbtn {
    background-color: cornflowerblue;
    color: white;
}
.profile>div.btncontainer>button.linkbtn>i {
    transform: scale(var(--ggs,0.6));
    margin-top: 6px;
}
.titleAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleAbout>h2 {
    color: white;
    margin-top: 10px;
}
.titleAbout>p {
    color: #ababab;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -20px;
}
.socials {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.socials>button {
    width: 30px;
    height: 30px;
    background-color: #ababab;
    border-radius: 5px;
    border: unset;
}
.socials>button:active {
    box-shadow: 2px 2px 5px whitesmoke;
}
.socials>button>i {
    transform: scale(var(--ggs,0.9));
    margin-left: -2px;
}
