body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container {
    width: 300px;
    height: 700px;
    background-color: #222225;
    border-radius: 20px;
}
.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile>h3 {
    color: white;
    font-family: "Lucida Sans";
}
.profile>p.job {
    color: navajowhite;
    font-family: "Lucida Sans";
    font-size: 12px;
    margin-top:-15px;
}
.profile>p.job {
    color: navajowhite;
    font-family: "Lucida Sans";
    font-size: 12px;
    margin-top:-15px;
}
.profile>p.desc {
    color: white;
    font-family: "Lucida Sans";
    font-size: 8px;
    margin-top:-8px;
}
.profile>div.btncontainer {
    display: flex;
    gap: 30px;
}
.profile>div.btncontainer>button {
    width: 90px;
    height: 30px;
    border-radius: 7px;
    display: flex;
    padding-top: 5px;
    gap: 5px;
    font-family: "Lucida Sans";
    font-weight: bold;
}
.profile>div.btncontainer>button.mailbtn>i {
    transform: scale(var(--ggs,0.6));
}
.profile>div.btncontainer>button.linkbtn {
    background-color: cornflowerblue;
    color: white;
}
.profile>div.btncontainer>button.linkbtn>i {
    transform: scale(var(--ggs,0.6));
    margin-top: 6px;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about>h2 {
    color: white;
}
.about>p {
    color: white;
}
